<% if current_user %>
    <%= link_to "Logout", '/logout', method: :delete %>
<% else %>
<%= button_to("Create a New User", "/users/new", method: :get)  %>
<%= button_to("Log In", "/login", method: :get)  %>
<% end %>

<% if current_user %>

<div id='existing-users'>
    <p> Existing Users </p>
    <% @users.each do |user| %>
        <%= user.email %>
    <% end %>
</div>
<% end %>